<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722104691342-bgrah20i0pv68hrodt6e4omnqi0nbl8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722104691342-bgrah20i0pv68hrodt6e4omnqi0nbl8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCy7JV3KZU_F5SuBUj4XlEDReymGxCa9s4</string>
	<key>GCM_SENDER_ID</key>
	<string>722104691342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bussr.app</string>
	<key>PROJECT_ID</key>
	<string>bussr-306811</string>
	<key>STORAGE_BUCKET</key>
	<string>bussr-306811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722104691342:ios:11cb48d7795a6caa5b77df</string>
</dict>
</plist>